@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-grey: #484848;
  --grey: #1d1d1d;
  --white-shade: #e3e3e3;
  --light-brown: #d6b37a;
  --blue: #211f4f;
  --light-blue: #237de6;
  --active-blue: #1f5dff;
  --red: #50091e;
  --light-red: #e70b42;
  --green: #1a381d;
  --light-green: #23bb54;
  --dark-100: #161616;
  --dark-200: #070707;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
